<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{%static 'css/my_style.css'%}">
  </head>
  <body>
    <h1>Registration Page</h1>
    <form class="" action="index.html" method="post">
      Name:<input type="text" name="" value=""><br>
      Age:<input type="text" name="" value=""><br>
      p no:<input type="text" name="" value=""><br>
      Gender:<input type="text" name="" value=""><br>
      Email:<input type="text" name="" value=""><br>
      <button type="button" name="button">Submit</button>

    </form>
  <br>
  <h2>{{insert_me}}</h2>
<br>
  <img src="{%static 'image/WhatsApp Image 2023-02-02 at 11.40.11 AM.jpeg'%}" alt="image not found">
  </body>
</html>
